body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background: #F8EEDF;
  color: #000;
  
}

.hero-section {
  margin-top: 80px;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #c4a97f;
  padding: 10px 30px;
  height: 80px;
  z-index: 100;
  box-shadow: 0 2px 10px #000000;
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo span {
  font-size: 2.5rem;
  color: #222;
  font-family: "Antonio", sans-serif;
  font-weight: 700;
}

.highlight {
  background-color: #a545456e;
  border-radius: 25px;
  padding: 12px 4px;
  display: inline-block;
  line-height: 1.1;
}

.nav-menu {
  display: flex;
  gap: 80px;
  margin-right: auto;
  margin-left: 200px;

}

.nav-menu a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #2c2c2c;
  position: relative;
}

.nav-menu a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #d30808;
  left: 0;
  bottom: -5px;
}
.profile a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #2c2c2c;
  margin-right: 90px;

}
.profile a:hover {
  color: #000;
}

/* ---- end of the header ---- */
/* footer */
.site-footer {
  background-color: #c4a97f;
  padding: 20px 40px;
  text-align: center;
  position: relative;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 70px;
}
.footer-text {
  font-size: 1.3rem;
  line-height: 70px; 
}
.footer-icons {
  position: absolute;
  top: 15px;
  right: 0;
  display: flex;
  gap: 15px;
}
.footer-icons img {
  width: 40px;
  height: 40px;
}

